.three-boxes{
    display: grid;
    margin: auto;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 700px;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
}

.box{
    box-sizing: border-box;
    border: 2px solid grey;
    box-shadow: 1px 1px rgb(3, 3, 3);
    border-radius: 5px;
    padding: 5px;
    height: 150px;
    width: 175px;
    justify-content: center;
}

.play{
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-family: Courier;
    font-weight: bold;
}

.play:hover{
    background-color: gray;
    border: solid gray;
    border-radius: 5px;
}

.first-box{
    display: flex;
    background-image: url('../dots.png');
    flex-direction: column;
    text-align: center;
    
}

.first-box button{
    margin-top: auto;
}

#first-text{
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: rgba(200, 54, 54, 0.5)
}

.second-box{
    display: flex;
    background-image: url('../jest.png');
    flex-direction: column;
    text-align: center;
}

.second-box button{
    margin-top: auto;
}

#second-text{
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: rgba(200, 54, 54, 0.5)
}

.third-box{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.third-box button{
    margin-top: auto;
}

#third-text{
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: rgba(200, 54, 54, 0.5)
}

.help{
    display: flex;
    justify-content: right;
}
.question{
    border-radius: 50%;
}

/* .helpBox{

} */

.help1:hover + .help-1{
    background-color: white;
    display: block;
    position: absolute;
    width: 175px;
    font-family: Courier;
}   

.help2:hover + .help-2{
    background-color: white;
    display: block;
    position: absolute;
    width: 175px;
    font-family: Courier;
} 

.riddle-box{
    display: grid;
    margin: auto;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 700px;
    justify-content: center;
    grid-template-columns: 300px;
}

.replayDiv{
    display: grid;
    margin: auto;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 700px;
    justify-content: center;
    grid-template-columns: 300px;
}

body{
    background-color: blanchedalmond;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

main{
    margin-top: 50px;
}

a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color:black;
}

a, u{
    text-decoration: none;
}

a:hover{
    color:chocolate;
    border: 5px gray;
}

.hide{
    display: none;
}
